<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
      	<%= link_to "⑨ Weekly Vocaloid Ranking", root_path, :class => "brand" %>
  			<li><%= link_to "Home", root_path %></li>
  			<li><%= link_to "By Views", views_path %></li>
  			<li><%= link_to "By Comments", comments_path %></li>
  			<li><%= link_to "By MyList", mylist_path %></li>
		</ul>
    </div>
  </div>
</header>