<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
      	<a class="brand" href="#">NicoCharts</a>
  			<li><%= link_to "Home", '#' %></li>
  			<li><%= link_to "By Views", views_path %></li>
  			<li><%= link_to "By Comments", comments_path %></li>
  			<li><%= link_to "By MyList", mylist_path %></li>
  			<li><%= link_to "By Favorites", favorites_path %></li>
		</ul>
    </div>
  </div>
</div>