<!DOCTYPE html>
<html>
<head>
  <title>Vocaloid Ranking</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
  <meta name=”keywords” content=”vocaloid, ranking, Hatsune Miku, Megurine Luka, Meiko, Kagamine Rin, Kagamine Len, SeeU, CUL”>
	<meta name=”description” content=”Vocaloid Ranking - daily, weekly, monthly and total Top 100 vocaloid videos from NicoNicoDouga.”>
	<meta content="1 days" name="revisit">
	<meta content="Navi Arimeka" name="author">
	<meta content="70d911e989ed8a07" name="yandex-verification">
	<meta content="4903445d7ef11020" name="yandex-verification">
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="container">
		<% name = case controller.controller_name %>
		<% when "charts" %>
			<% "Weekly" %>
		<% when "daily_charts" %>
			<% "Daily" %>
		<% when "monthly_charts" %>
			<% "Monthly" %>
		<% when "total_charts" %>		
			<% "Total" %>
		<% end %>
		<% if controller.controller_name != "static_pages" %>
			<% if controller.action_name == "favorites" %>
				<h1><%= name %> Vocaloid Top 100</h1>
			<% else %>			
				<h1><%= name %> Vocaloid Top 100 by <%= controller.action_name %></h1>
			<% end %>
		<% end %>		

		<%= yield %>

		<a href="#" class="scrollup">Scroll</a>
	</div>
	<%= render 'layouts/footer' %>
</body>
</html>
