<!DOCTYPE html>
<html>
<head>
  <title>Weekly Vocaloid Ranking</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="container">
		<% name = case controller.controller_name %>
		<% when "charts" %>
			<% "Weekly" %>
		<% when "daily_charts" %>
			<% "Daily" %>
		<% when "monthly_charts" %>
			<% "Monthly" %>
		<% when "total_charts" %>		
			<% "Total" %>
		<% end %>
		<% if controller.action_name =! "home" %>
			<% if controller.action_name == "favorites" %>
				<h1><%= name %> Vocaloid Top 100</h1>
			<% else %>			
				<h1><%= name %> Vocaloid Top 100 by <%= controller.action_name %></h1>
			<% end %>
		<% end %>		

		<%= yield %>

		<a href="#" class="scrollup">Scroll</a>
	</div>
	<%= render 'layouts/footer' %>
</body>
</html>
